In [2]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [3]:
# Menyortir perusahaan berdasarkan nama secara terbalik dan memformat output
sorted_companies = sorted(
    [{'name': company['name']} for company in company_detail_list],
    key=lambda x: x['name'],
    reverse=True
)

# Menampilkan hasil
sorted_companies

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

In [4]:
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [5]:
# Pemetaan nama perusahaan ke domain
company_domains = {company['name']: company['domain'] for company in company_detail_list}

# Mengelompokkan karyawan berdasarkan domain
employees_by_domain = {}
for employee in employee_detail_list:
    domain = company_domains[employee['company']]
    employees_by_domain.setdefault(domain, []).append(employee['full_name'])
    
# Menampilkan hasil
employees_by_domain

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'],
 'Technology': ['Tom Smith', 'Rubby Lee'],
 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

In [6]:
# Defining the function to return employees with their company's country information
def get_employees_with_company_country(employee_list, company_list):
    # Creating a dictionary to map each company name to its country
    company_countries = {company['name']: company['country'] for company in company_list}
    
    # Constructing the result list with each employee's full name, company, and company's country
    employees_with_country = [
        {
            "full_name": employee["full_name"],
            "company": employee["company"],
            "country": company_countries[employee["company"]]
        }
        for employee in employee_list
    ]
    
    return employees_with_country

# Testing the function
get_employees_with_company_country(employee_detail_list, company_detail_list)

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'},
 {'full_name': 'Tom Smith',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Andrew Sebastian',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Ying Han Tan',
  'company': 'Company 1',
  'country': 'United States'},
 {'full_name': 'Kenneth Ng',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Rubby Lee',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Robert White',
  'company': 'Company 1',
  'country': 'United States'}]

In [7]:
from collections import defaultdict

def get_company_nationalities(employee_list, company_list):
    # Initialize a dictionary to store the results
    company_nationality_count = defaultdict(lambda: defaultdict(int))
    
    # Count nationalities for each company
    for employee in employee_list:
        company = employee['company']
        nationality = employee['nationality']
        company_nationality_count[company][nationality] += 1
    
    # Format the result according to expected output
    result = []
    for company in company_list:
        company_name = company['name']
        result.append({
            "company": company_name,
            "employee_nationality": dict(company_nationality_count[company_name])
        })
    
    return result

# Testing the function with the provided data
get_company_nationalities(employee_detail_list, company_detail_list)

[{'company': 'Company 1',
  'employee_nationality': {'Australia': 2, 'United Kingdom': 1}},
 {'company': 'Company 2',
  'employee_nationality': {'United States': 1, 'Hong Kong': 1}},
 {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]